# ignore the virtual environment folder.
.venv/
venv/
env/

# ignore the database.
db.sqlite3

# ignore compiled python files.
__pycache__/
*.pyc

# ignore environment variable files.
.env

# ignore cert and key files.
cert.pem
key.pem
*.key
*.pem